# Ignore virtual environment
venv/
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs, temp and cache files
*.log
*.tmp
*.bak

# Ignore data (optional: فقط اگه دیتای حجیم داری که نباید تو گیت باشه)
data/